.page_title{
    height: 45px;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

    .page_title_content{
        display: flex;
        justify-content: space-between;
    }

    .page_title_info{
            display: flex;
            width: 200px;
            height: 100%;

        .page_title_labels{
            color: #1f1a1a;
            text-shadow: 1px 1px #d8cece;
        }
        .page_title_label{
            font-size: 25px;
            line-height: 22px;
        }
        .page_sub_title_label{
            font-size: 12px;
            line-height: 25px;
        }
        .page_title_logo{
            display: inline-block;

        }
    }
    
    .page_login_label{
        
    }

    .page_title_actions{
        display: inline-block;
        text-align: right;
        cursor: pointer;
        margin-right: 10px;
    }
}
