.add_Tracker{
    height: 100px;
    width: 100%;
}

.order_details{
    height: 300px;
    width: 100%;
}
.element_row{
    width: 100%;
}

.order_address{
    width: 100%;
    height: 100%;
}

.error_msg{
    color:red;
    font-weight: bold;
    font-size: 14px;
}

.success_msg{
    color:green;
    font-weight: bold;
    font-size: 14px;
}