.title{
  text-decoration: underline;
}
.product_action_icons{
  margin: 0 10px;
  display: inline-block;
}
h2 {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
.product_img{
  width:260px;
  height: 370px;
}

.product_img_div{
  display: inline-table;
  position: relative;
}

.product_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box{
    border: 1px solid #ccccccb5;
    margin: 20px;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}

.product_mobile_view{
  .box{
    margin: 20px;
    padding: 2px;
    min-width: 250px;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 6px #d7d6df;
  }
  .product_img_div{
    width: 100%;
    display: block;
  }
}
.product_mobile_label_price{
    width: 100%;
    text-align: center;
}
.product_mobile_quick_details{
  background-color: rgba(35, 33, 33 , 0.5);
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  

  .product_label_name{
    width: calc(100% - 80px );
    font-weight: 500px;
    color: #f5f7ff;
  }
  .product_label_link{
    color: #f5f7ff;
    cursor: pointer;
    font-weight: 700;
    width: 80px;
    padding-top: 8px;
  }
}
.product_label_name{
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: 0.23px;
  color: #3f3f47;
  padding-top: 8px;
  font-weight: normal;
  margin: 5px 5px 5px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.product_label_price{
  display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.27px;
    color: #202024;
}
.product_label_link{
  cursor: pointer;
  font-weight: bold;
  color: #304689;
  &:hover{
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
    .product_img{
       width: calc(100%);
    } 
}
